.header {
    background-color: #CC3737;
    border-bottom: 2px solid rgba(255, 204, 102, 0.7);

    h1 {
        color: #ffffff;
        margin: 10px 0;

        small {
            margin-left: 5px;
            color: #ffcc66;
        }
    }
}