.header.navbar {
    background-color: #CC3737;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid rgba(255, 204, 102, 0.7);
    margin-bottom: 0;

    h1 {
        margin: 0;
    }

    h1 a {
        font-size: 36px;
        margin: 5px 0;
        color: #ffffff;
        text-decoration: none;

        small {
            margin-left: 5px;
            color: #ffcc66;
        }

        &:hover {
            color: #fff;
        }
    }

    .navbar-toggle {
        margin-top: 14px;
        border-color: #a12b2b;
        background-color: #a12b2b;

        .icon-bar {
            background-color: #CC3737;
        }

        &:hover .icon-bar {
            background-color: #ffcc66;
        }
    }

    .navbar-nav {

        a {
            font-size: 14px;
            font-weight: 400;
            color: #ffcc66;
            line-height: 30px;
            text-decoration: none;
            padding-left: 8px;
            padding-right: 8px;

            &:hover {
                background-color: #a12b2b;
                color: #ffcc66;
            }
        }
    }

    .navbar-collapse.collapsing, .navbar-collapse.in {
        border-top: 2px solid rgba(255, 204, 102, 0.7);
    }
}